body {
  background-color: #FCFBF6!important;
}

.primary {
    background-color: #FCFBF6!important;
}

.primary-background {
    background-color: #FCFBF6;
}

.accent {
    background-color: #9D2626;
}

.accent-text {
  color:#9D2626;
}

.text {
  color: #373737!important;
}

#grid-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr); /* adjusts the number of columns to 3 */
    gap: 1rem; /* adds a gap between grid items */
  }

  @media (max-width: 768px) {
    #grid-container {
      grid-template-columns: repeat(2, 1fr); /* for smaller screens, display 2 elements per row */
      margin-left:-1em;
    }
  }
  
  @media (max-width: 480px) {
    #grid-container {
      grid-template-columns: 1fr; /* for even smaller screens, display 1 element per row */
      margin-left:-1em;
    }
  }

  .owl-carousel .owl-item img {
    min-height: 213px;
    min-width: 213px;
  }

.card {
    margin: auto auto 1em 1em;
}

.card-text {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
}

.card-title {
    min-height: 4em;
}


  .modal-title {
    font-size: 1.5rem;
  }
  
  .close {
    color: #fff;
  }
  
  .cart-table {
    display: table;
    width: 100%;
  }
  
  .cart-table-header {
    display: table-row;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
  }
  
  .cart-table-cell {
    display: table-cell;
    padding: 0.75rem;
    vertical-align: middle;
  }
  
  .cart-table-body {
    display: table-row-group;
  }
  
  .cart-table-row {
    display: table-row;
  }
  
  .remove-btn {
    background-color: transparent;
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: #373737;
    color: white;
    border:#373737;
  }
  
  .remove-btn:hover {
    color: #fff;
    background-color: #9D2626;
  }
  
  .cart-summary {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .total-items {
    margin-right: 1rem;
  }
  
  .total-price {
    font-weight: bold;
  }
  
  .carousel-item img {
    width: 100%;
    object-fit:cover;
    min-height: 500px;
    max-height: 500px;
  }
  
  input[type=name] {
    width: 100%;
    padding: 7px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #FCFBF6;
    border: 1px solid #c0c0c0;
    border-radius: 0px;
    box-sizing: border-box;
  }

  input[type=name]:focus {
    background-color: #FCFBF6;
    border: 2px solid #9D2626;
    box-shadow: none;
  }

  button[type=submit] {
    background-color: #373737;
    color: #FCFBF6;
    padding: 7px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
  }

  button[type=submit]:hover {
    background-color: #9D2626;
    }

  button[type=submit]:not(:disabled):not(:disabled):active {
    background-color: #9D2626;
   } 
    
  button[type=cancel] {
    background-color: #FCFBF6;
    color: #373737;
    padding: 7px 20px;
    margin: 8px 0;
    border: 1px solid #373737;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
  }

  button[type=cancel]:hover {
    background-color: #9D2626;
    }

  button[type=reset] {
      
      color: #fff7f7;
      padding: 7px 20px;
      margin: 8px 0;
      border: 1px solid #373737;
      border-radius: 0px;
      cursor: pointer;
      width: 100%;
    }
  
  button[type=reset]:hover {
      background-color: #9D2626;
      }


  .basket-button {
    background-color: #373737;
    border: none;
    outline: none;
    color: white;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    height: 40px;
    width: 100px;
    transition: all 0.2s ease-in-out;
  }

  .basket-button:hover {
    background-color: #9D2626;
  }

  #dropdownMenuButton {
    background-color: #fff;
    color: #000;
    border-radius: 0;
  }

  #resetButton {
    background-color: #373737;
    border-radius: 0;
  }

  .btn-group {
    border-radius: 0;
  }
  
  #resetButton:hover {
    background-color: #9D2626;
  }

  .card-title {
    color: #000;

  }
  .card-title:hover {
    font-weight: bold;
  }
  
    @media only screen and (max-width: 600px) {
    .home-icon {
      display:none!important;
    }
}

.primary-button {
  border: solid 1px;
  background-color: #FCFBF6;
  color:black;
}


#filter-container {
  float:left;
}

@media (max-width: 480px) {
  #filter-container {
    float:none;
  }
}

@media (max-width: 768px) {
  #filter-container {
    float:none;
  }
}

@media (max-width: 992px) {
  #filter-container {
    float:none;
  }
}

.primary-button:hover {
  color:white;
}

.form-control {
  margin-bottom: 50px;
}

.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
}


.field{
  width: 100%;
  height: 80px;
  
}

.field input {
  width: 100%;
  height: 40px;
  padding: 20px 20px;
  border-width: thin;
  border-style: solid;
  border-color: rgb(160, 160, 160);
  font-size: 16px;
  font-weight: 200;
  background-color: transparent;
  
  
}
.header{
  width: 100%;
  height: 60px;

}

.label{
  padding-top: 5px;
  
}

input[type="checkbox"] {
  /* CSS styles for checkboxes */

  /* Hide the browser's default checkbox */
  position: absolute;
  opacity: 20;
  cursor: pointer;
  height: 0;
  width: 0; 

}

input[type="checkbox"] + label {
  margin-left: 15px;
  font-size: 14px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  font-weight: bold;
}

input[type="checkbox"]:hover + label {
  color: #9d9d9d;
}

